.post_container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;

}
.post_image{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}

.post_text{
    font-weight: normal;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post_header{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.post_avatar{
    margin-right: 10px;
}